// ForgotPassword.module.scss

.forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f1f1;
  height: 100vh;
}

.forgot-password-form {
  background-color: #cfc1c1;
  padding: 2rem;
  border-radius: 0.25rem;
  width: 25%;

  h4 {
    margin-bottom: 1.5rem;
    color: #333333;
  }

  .form-control {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    width: 100%;
  }

  .otp-input,
  .password-input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    width: 100%;

    &:focus {
      outline: none;
      border-color: #007bff;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
  }

  .reset-button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
    width: 100%;

    &:hover {
      background-color: #0056b3;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
    }
  }
}
